<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Actor</h3>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Nuevo Actor</h3>
          <form novalidate [formGroup]="form" (ngSubmit) = "onSubmit()">
            <div class="row register-form">
              <div class="col-md-6">

                <div class="form-group">
                  <label>Nombre</label>
                  <input formControlName="nombre"  type="text" class="form-control" placeholder="Nombre *" value="" required />
                </div>
                <div class="form-group">
                  <label>Nombre</label>
                  <input formControlName="apellido"  type="text" class="form-control" placeholder="Apellido *" value="" required />
                </div>
                <div class="form-group">
                  <label>Sexo</label>
                  <select formControlName="sexo" class="form-control" required>
                    <!-- <option value="-1" class="hidden"  selected disabled>Selecciona</option> -->
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha Nacimiento</label>
                  <input formControlName="fechaNacimiento" type="date" name="bday" max="2030-12-31"
                  min="1910-01-01" class="form-control">
                </div>
                <div class="form-group">
                  <label>Foto</label>
                  <input formControlName="foto"  type="text" class="form-control" placeholder="Foto *" value="" required />
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
